<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koi.iam.system.mapper.PositionMapper">

    <select id="findStationPage" resultType="com.koi.iam.system.domain.dto.resp.PositionPageResp">
        SELECT *
        FROM sys_position s ${ew.customSqlSegment}
    </select>

</mapper>
